body {
    margin: 0 auto;
    
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container{
   
    padding: 0 15px;
    background-color: #59605c;
    color: #422923;
    font-family: botswana,serif;
}